* {
  box-sizing: border-box;
}

/* Basic body element styling */

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Nav Styling */

nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px;
}

.headerlogo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color: #e5e7eb;
}

/* Header styling */

header {
  background-color: #1f2937;
  display: flex;
  /* padding: 10px 300px; */
  padding: 50px 300px 30px 300px;
}

.left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex: 1 1 50%;
}

.hero-primary-text {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  flex-grow: 1;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  flex-grow: 1;
}

.btn-header {
  font-weight: bold;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  align-self: flex-start;
  flex-grow: 1;
}

.right-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  color: #e5e7eb;
  background-color: grey;
  width: 600px;
  height: 250px;
}
